{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>AAROGYA MEDICINE DONATION</title>

<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/style1.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-----Navigation Bar---->
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#"><img src="{% static 'img/project2.png'%}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="index"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about"><i class="fa fa-user"></i>About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="ourteam"><i class="fa fa-users"></i>Team</a>
      </li>
    </ul>
  </div>
</nav>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="heading">Meet Our Team</h1>
      <div class="card-wrapper">
      <div class="card">
          <img src="{% static 'img/developer.png'%}" class="card-img">
          <img src="{% static 'img/ashi.png'%}" class="profile-img">
          <h1>Ashi Srivastava</h1>
          <p class="job-title">Student</p>
          <p class="about">
            Ashi Srivastava is a final year student pursuing Btech from ABES Engineering College,Ghaziabad in Computer Science And Engineering.
          </p>
          <a href="mailto:ashi.16bcs1129@abes.ac.in" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href="https://www.facebook.com/ashi.srivastava.148"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/ashi0397"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ashi-srivastava-1b46b9184"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

        <div class="card">
          <img src="{% static 'img/developer.png'%}" class="card-img">
          <img src="{% static 'img/aditya.png'%}" class="profile-img">
          <h1>Aditya kumar</h1>
          <p class="job-title">Student</p>
          <p class="about">
            Aditya Kumar is a final year student pursuing Btech from ABES Engineering College,Ghaziabad in Computer Science And Engineering.
          </p>
          <a href="mailto:adityakumar50505@gmail.com" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href="https://www.facebook.com/people/Aditya-Kumar-Srivastava/100009119032493"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/aditya_kr_sri/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/aditya-kumar-960377153"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div> 

        <div class="card">
          <img src="{% static 'img/developer.png'%}" class="card-img">
          <img src="{% static 'img/rani.png'%}" class="profile-img">
          <h1>Rani Rupali Rajput</h1>
          <p class="job-title">Student</p>
          <p class="about">
            Rani Rupali Rajput is a final year student pursuing Btech from ABES Engineering College,Ghaziabad in Computer Science And Engineering.
          </p>
          <a href="mailto:rani.16bcs1066@abes.ac.in" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href="https://www.facebook.com/rani.rajput.58726"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/rani.rajput"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/rani-rajput-9b3826140"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    </section>
</body>
</html>